@font-face {
    font-family: "Roboto-Regular";
    src:
      url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: regular;
    font-style: normal;
    font-display: swap;
  }
  
@font-face {
    font-family: "Roboto-Medium";
    src:
      url("../fonts/Roboto-Medium.woff2") format("woff2"),
      url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: regular;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: "Gilroy-ExtraBold";
    src:
      url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
      url("../fonts/Gilroy-ExtraBold.woff") format("woff");
    font-weight: regular;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: "Gilroy-Light";
    src:
      url("../fonts/Gilroy-Light.woff2") format("woff2"),
      url("../fonts/Gilroy-Light.woff") format("woff");
    font-weight: regular;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pacifico-Regular";
    src:
      url("../fonts/Pacifico-Regular.woff2") format("woff2"),
      url("../fonts/Pacifico-Regular.woff") format("woff");
    font-weight: regular;
    font-style: normal;
    font-display: swap;
}
  