$min-width: 320px;
$max-width: 1366px;
$mobile-width: 767px;
$tablet-width: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$dark-grey: #1f1f1f;
$light-grey: #424242;
$yellow: #fedf6d;
$light-bg: #f5f8ff;
$light-blue-gradient: linear-gradient(-94deg, #1c74de, #2387ff);
$dark-blue-gradient: linear-gradient(-94deg, #1c74de, #00247a);
$yellow-gradient: linear-gradient(180deg, #ffe878, #fcbf49);
$desktop-header: 30px;
$tablet-header: 30px;
$mobile-header: 30px;